# Auto detect text files and perform LF normalization
* text=auto
Assets/StreamingAssets/.PLATEAU/13100_tokyo23-ku_2020_citygml_3_2_op/udx/dem/533946_dem_6697_op.gml filter=lfs diff=lfs merge=lfs -text
Assets/0_Shika/LOD2/bldg/53394525_bldg_6677.fbx filter=lfs diff=lfs merge=lfs -text
